<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; by <a href="http://www.raynawara.com/">Raymond Nawara</a>
    </small>
    <nav>
      <ul><li><%= link_to "About", about_path %></li></ul>
    </nav>
  </footer>
</div>